.reaction {
	display: block;
	margin: auto;
	width: 100%;
	border: 1px solid #8b4513;
	color: #8b4513;
	background-color: #fffff0;
	font-size: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	width: 60px;
}

.space {
	margin-top: 10px;
}

.textareaReply {
	resize: none;
	width: 195%;
	height: 100px;
	font-size: 15px;
	outline: none;
	border: none;
	background: #fdf5e6;
	padding: 8px;
}

.small {
	font-size: 11px;
}

